#broadwaypage {text-align: center;
}

.header {background-image: url("/broadwaydesign/resources/images/the-flatiron-building.png");
}

.nav {font-family: Helvetica;
    font-size: 18px;
    color: white;
  }

h1 {font-family: Helvetica;
    font-size: 70px;
    font-weight: bold;
    color: white;
  }

h2 {font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
  }

h3 {font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
  }

p {font-family: Helvetica;
   font-size: 14px;
 }

 .info {font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
    color: white;
    background-image: url("/broadwaydesign/resources/images/the-flatiron-building.png");
  }

.footer {font-family: Helvetica;
   font-size: 11px;
   color: white;
   background-color: dimgray;
 }
